.pricingPlan {
  list-style: none;
  margin: 0 auto 10px;
  padding: 100px 0 80px;
  width: 640px;
  background-color: #dbdbdb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 0 0 20px;
  padding: 0;
  width: 180px;
}

.item:nth-child(3n + 1) {
  color: #dd7c4b;
}

.item:nth-child(3n + 2) {
  color: #c0c0c0;
}

.item:nth-child(3n + 3) {
  color: #dda431;
}

.item:nth-child(3n + 1) button {
  background-color: #dd7c4b;
}

.item:nth-child(3n + 2) button {
  background-color: #c0c0c0;
}

.item:nth-child(3n + 3) button {
  background-color: #dda431;
}

.item:not(:nth-child(3n + 3)) {
  padding-right: 12px;
}
